@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
}

.unit-toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
  }
  
  .unit-toggle input {
    display: none;
  }
  
  .slider {
    width: 40px;
    height: 20px;
    background: #933535;
    border-radius: 20px;
    position: relative;
    transition: background 0.3s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  input:checked + .slider::before {
    transform: translateX(20px);
  }
  
  input:checked + .slider {
    background: #007bff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
  }

  .logo {
    display: flex;
    align-items: center;

  }
  